
body{
    margin: 0px;
    border: 0px;
}
.line{
    display: flex;
}
.full{
    width: 100%;
}
form input{
    height: 33px;
    width: 50%;
}
#header{
    width: 100%;
    padding: 15px 0 15px 0;
    background: black;
    color: white;
    font-size: 18px;
    position: fixed;
    z-index: 1000;

}


.title-main{
    border: 1px solid;padding: 10px;margin: 20px 0;    background-color: #7ce7ff;display: flex
}
.title-light{
    border: 1px solid;padding: 10px;    background-color: #ffebc6;display: flex;align-items: center
}

.title-main label{
    font-size: 18px

}

/*login form*/

.login-section{
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    font-weight:bold;
    color:white;

}
.login-wrapper{
    text-align: center;
    width: 100%;
    margin-top:7.5%
}

.login-content{
    margin: auto;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
    position: relative;

}
.login-content label{
    font-size: 30px;

}


.btn-sign {
    width: 220px;
    background: purple;
    border-color: purple;
    color:white;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-radius: 4px;
    margin: 50px 0 28px;
}
.btn-sign:hover{
    background-color: #7F38EC;
    color: #ffffff;
    border-color: transparent;
}

.login-form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    visibility: visible;
}
.login-header{
    width: 100%;
    text-align: center;
    padding: 36px;
    margin-top: 20px;
}

.login-form-content{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color:#fffff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.login-form-content a{
    text-decoration: auto;
    color: white
}   
.text-fields{
    height: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #eee;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}




#sidebar{
    width: 20%;
    height: 100%;
    background: #0d0513;
    position: fixed;
    padding-top: 70px;
}
#sidebar ul{
    margin: 0;
    padding: 20px;

}
#sidebar ul li:hover{
    background: #006f88e3;
    color: white;
}
#sidebar ul li{
    list-style: none;
    color:white;
}
#data{
    height: 700px;
    background: #c0392b;
    color: white;
    font-family: Helventica;
    font-size: 25px;
}
#adminLogo {
    background: white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 8px;
}

ul li{
    padding: 20px;
    border-bottom: 2px solid grey;
}

.img-profile{
    width: 100%;

    text-align: center
}
.container{
    float: right;
    margin: 30px 0 30px;
    width: 80%;
    background-color: #fff;
    padding: 30px 0 30px;
    box-shadow: 0 0 18px 10px grey;

    display: block;

}
form .btn{
    margin-top: 20px;
    padding: 0 39px;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    font-weight: 500;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 21.5px;
    background-color:black


}
form span{
    width: 100px;
    display: inline-block;

}
.btn-main{

    padding: 0 20px;
    display: inline-block;
    height: 26px;
    line-height: 20px;
    font-weight: 500;
    color: #fff !important;
    text-transform: uppercase;

    background-color: #c40000;
    border: none;
}
