#navigation{
    text-align: left;
}
#editContent{}
#editButtons{
    text-align: justify;
}
.detailsToEdit{}
#healthPlan{
    text-align:center;
}
#doctor{
    text-align:center;
}
#staff{
    text-align:center;
}

body{
    background-color:greenyellow;
    
}
 