* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(48, 224, 210, 0.2), rgba(48, 224, 210, 0.1)), url("../images/bicycle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#signIn,
#signUp {
    float: right;
    margin: 10px;
    width: 100px;
}

#top {
    margin: 10px;
    /* background: linear-gradient(#380036, #0CBABA); */
    /* background: linear-gradient(#80ff72, #7ee8fa); */
}

#logo {
    display: inline-block;
}

#brand {
    display: inline-block;
    color: dimgray;
}


/* Style the navbar */

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}


/* Navbar links */

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


/* Navbar links on mouse-over */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Active/current link */

.topnav a.active {
    background-color: #2196F3;
    color: white;
}


/* Style the input container */

.topnav .login-container {
    float: right;
}


/* Style the input field inside the navbar */

.topnav input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
    /* adjust as needed (as long as it doesn't break the topnav) */
}


/* Style the button inside the input container */

.topnav .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .login-container button:hover {
    background: #ccc;
}


/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }
    .topnav a,
    .topnav input,
    .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input {
        border: 1px solid #ccc;
    }
}

#wadana {
    color: teal;
    font-size: 17px;
    position: relative;
    float: right;
    left: -100px;
    top: 50px;
    right: 200px;
    font-family: cursive;
    font-weight: 500;
}

#legacy {
    color: dimgray;
    position: absolute;
    width: 30%;
    text-align: justify;
    /* top: 80%; */
}

#copyrights {
    font-family: monospace;
    position: absolute;
    width: 100%;
    /* height: 7%; */
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    padding: 20px;
}

#boxes {
    /* position: relative; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    background: #35424a;
    top: 80%;
    display: block;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#contactInfo {
    color: lightsteelblue;
    position: relative;
    text-align: left;
    left: 50%;
}

#social {
    position: relative;
    text-align: left;
    left: 60%;
}

#social ul li a {
    color: dimgray;
}

#social ul li a :hover {
    color: darkolivegreen;
}

#containerBox {
    position: relative;
    border: solid black 1px;
    width: 80vw;
    height: 57vh;
    left: 9vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#welcome {
    position: relative;
    left: 50vw;
}

.subDiv {
    position: relative;
    left: 15vw;
    margin: 25px;
    top: 20px;
}

#changePwd {
    visibility: hidden;
    position: relative;
    padding: 8px;
    left: 50vw;
    top: 40px;
}

#profilePic {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    float: left;
    margin: 5px;
    top: -10px;
    left: 10px;
}

.editButtons {
    position: relative;
    left: 350px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#tpNoDiv,
#addressDiv {
    margin-bottom: 40px;
}

#changeUserName {
    position: inherit;
    left: 65px;
    bottom: 30px;
}

#userCurrentAddress {
    display: inline;
    position: relative;
    left: 50px;
}

#userCurrentTpNo {
    position: relative;
    left: 37px;
}

#userCurrentEmail {
    position: relative;
    left: 66px;
}

#editAddressButton {
    position: relative;
    left: 371px;
}

#editTPButton {
    position: relative;
    left: 371px;
}

#editEmailButton {
    position: relative;
    left: 351px;
}

#editUsernameButton {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#containerBox input {
    padding: 5px;
    width: 36vw;
    border: none;
    background-color: rgba(123, 146, 146, 0.63);
}

#userAddress {
    position: relative;
    left: 43px;
}

#newtpno {
    position: relative;
    left: 27px;
}

#emailAddress {
    position: relative;
    left: 62px;
}

.saveButtons {
    position: relative;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #ddd;
}

#saveNewAddress {
    position: relative;
    left: 54px;
}

#saveNewtpno {
    position: relative;
    left: 38px;
}

#saveNewEmail {
    position: relative;
    left: 73px;
}

#invalidTpNo {
    display: none;
    position: relative;
    font-weight: normal;
    font-family: sans-serif;
    color: #c3073f;
    left: 200px;
}

#invalidemail {
    display: none;
    position: relative;
    font-weight: normal;
    font-family: sans-serif;
    color: #c3073f;
    left: 200px;
}

.newAddress {
    display: none;
}

.newTPNo {
    display: none;
}

.newEmail {
    display: none;
}

#containerBox input[type="password"]{
    position: relative;
    width: 200px;
}


#currentPwd{
    left: 400px;
}
#newPwd{
    left: 400px;
}
#retypeNewPwd{
    left: 400px;
}

#saveChangedPwd{
    position: relative;
    left: 405px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: #ddd;
}


#invCurrentPwd{
    display: inline;
    position: relative;
    color: #c3073f;
    left: 413px;
    top: 10px;
}

#invNewPwd{
    display: inline;
    position: relative;
    color: #c3073f;
    left: 436px;
    top: 10px;
}

#mismatchPwd{
    display: inline;
    position: relative;
    color: #c3073f;
    left: 450px;
    top: 10px;
}